<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Sobre Nosotros</h2>
  <p>
    Haskell masters es un Sitio Web que te permite comprar carros para realizar tus misiones.
    No importa lo que quieras hacer, ni donde, ni cuando, siempre encontraras un haskell master
    apropiado para tus problemas.
  </p>
  {{#link-to 'contact' class="button"}}
    Contrata Ahora!
  {{/link-to}}
</div>

{{outlet}}