<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contáctanos</h2>
  <p>carros haskell master estará complacido en ayudarte!.<br>Llámanos o escríbenos y realiza la preguntas que desees.</p>
  <p>
    carros haskell HQ
    <address>
      Universidad de Antioquia<br>
      Medellín
    </address>
    <a href="tel:57.3000079944">(57) 300-0079944</a><br>
    <a href="mailto:cars@haskell.com">cars@haskell.com</a>
  </p>
  {{#link-to 'about' class="button"}}
    Sobre Nosotros
  {{/link-to}}
</div>
{{outlet}}